.dieta{
    padding: 20px 40px;
    background-color: var(--color06);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container{
    background-color: var(--white01);
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
}

.cssButtonsIoButton {
    width: max-content;
    background: var(--color03);
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-right: 1.2em; /* Ajustado */
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    flex-direction: row-reverse; /* Inverte a posição do ícone */
    box-shadow: inset 0 0 1.6em -0.6em var(--color03);
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-left: 3.3em; /* Ajustado */
    cursor: pointer;
}

.cssButtonsIoButton .icon {
    background: white;
    margin-right: 1em; /* Alterado de left para right */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em var(--color03);
    left: 0.3em; /* Alterado de right para left */
    transition: all 0.3s;
}

.cssButtonsIoButton:hover .icon {
    width: calc(100% - 0.6em);
}

.arrow {
    width: 1.1em;
    transition: transform 0.3s;
    color: var(--color03);
}

.cssButtonsIoButton:hover .icon svg {
    transform: translateX(-0.1em); /* Ajustado para mover para a esquerda */
}

.cssButtonsIoButton:active .icon {
    transform: scale(0.95);
}

/* Estilos para o conteúdo da dieta */
.dietCriada {
    font-size: 18px;
    line-height: 1.6;
}

.dietCriada h1 {
    font-size: 28px;
}

.dietCriada p {
    margin: 10px 0;
    font-size: 16px;
}
