.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color02);
    padding: 100px;
}

.homeContainer{
    display: flex;
}

.imgIlustration{
    width: 50%;
}

.homeContent{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeContent h1, .homeContent h2{
    text-align: center;
    font-family: var(--font-destaque);
}

.btnGo{
    width: 200px;
    height: 50px;
    background-color: var(--color01);
    color: var(--white01);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.btnGo:hover{
    background-color: var(--color03);
    transform: scale(1.05);
}