:root{
    --color01: #012840;
    --color02: #C1D9D4;
    --color03: #F2A30F;
    --color04: #F28705;
    --color05: #F2421B;
    --black01: #000000;
    --white01: #FFFFFF;

    --font-destaque: "Lato", serif;
    --font-titulo: "Poppins", serif;
    --font-global: "Roboto", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-global);
    transition: all ease .4s;
}

a{
    text-decoration: none;
}

input{
    outline: none;
    border: none;
}

button{
    outline: none;
    border: none;
    cursor: pointer;
}