:root{
    --color01: #012840;
    --color02: #C1D9D4;
    --color03: #e9a21e;
    --color04: #F28705;
    --color05: #F2421B;
    --color06: #fbff64;
    --black01: #000000;
    --white01: #FFFFFF;
    
    --font-global: "Roboto", serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-global);
    transition: all ease .4s;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 12px;          
}

body::-webkit-scrollbar-track {
    background: var(--color06);       
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color03);
    border-radius: 10px;
    border: 2px solid var(--color06);
}

a{
    text-decoration: none;
}

input{
    outline: none;
    border: none;
}

button{
    outline: none;
    border: none;
    cursor: pointer;
}

ul{
    list-style-type: none
}